body {
  margin: 0;
  padding: 0;
  background-color: #010b2c;
  font-family: 'MyCustomFont', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
}
